# Importing

In [10]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Reading Data

In [11]:
user_data = pd.read_json('data.json')

In [12]:
user_data

                                                    data
0      {'category': 'Sports', 'event_name': 'View Pro...
1      {'category': 'Technology', 'event_name': 'View...
2      {'category': 'Environment', 'event_name': 'Vie...
3      {'category': 'Technology', 'event_name': 'View...
4      {'category': 'Sports', 'event_name': 'View Pro...
...                                                  ...
49995  {'category': 'Sports', 'event_name': 'Fund Pro...
49996  {'category': 'Technology', 'event_name': 'View...
49997  {'category': 'Fashion', 'event_name': 'View Pr...
49998  {'category': 'Sports', 'event_name': 'Fund Pro...
49999  {'category': 'Fashion', 'event_name': 'View Pr...

[50000 rows x 1 columns]

In [13]:
df = pd.DataFrame(user_data)

In [14]:
df

                                                    data
0      {'category': 'Sports', 'event_name': 'View Pro...
1      {'category': 'Technology', 'event_name': 'View...
2      {'category': 'Environment', 'event_name': 'Vie...
3      {'category': 'Technology', 'event_name': 'View...
4      {'category': 'Sports', 'event_name': 'View Pro...
...                                                  ...
49995  {'category': 'Sports', 'event_name': 'Fund Pro...
49996  {'category': 'Technology', 'event_name': 'View...
49997  {'category': 'Fashion', 'event_name': 'View Pr...
49998  {'category': 'Sports', 'event_name': 'Fund Pro...
49999  {'category': 'Fashion', 'event_name': 'View Pr...

[50000 rows x 1 columns]

In [16]:
#df.to_csv()

In [32]:
newdf = df[(df.category == "Sports") & (df.category == "Environment")]

AttributeError: 'DataFrame' object has no attribute 'user_data'